<html>
<head>
    <title>Session</title>
</head>
<body>
	<h1>Metricas</h1>
    <p>Temperatura: {{ temperature }} Cº</p>
    <p>Humedad: {{ humidity }} %</p>
    <p>Luz: {{ luz }}</p>
    <p>Tapa: {{ tapa }}</p>
    <p>Luz Calor (1): {{ switch1 }} </p>
    <p>Luz LED (2): {{ switch2 }} </p>
    <p>Cooler General (3): {{ switch3 }} </p>
    <p>Cooler LED (4): {{ switch4 }} </p>

    <p>Actualizado: {{ time }}</p>
	<h1>Estadisticas Ultimas 24 hs</h1>
    <img src="static/image.png?{{ time }}">
    <img src="static/humedad.png?{{ time }}">
    <img src="static/luz.png?{{ time }}">

</body>
</html>
